<h2>投稿数の前日比・前週比</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>今日の投稿数</th>
      <th>前日の投稿数</th>
      <th>前日比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @posts_today.count %></td>
      <td><%= @posts_yesterday.count %></td>
      <td>
        <% if @posts_yesterday.count == 0 %>
          前日の投稿が0のため、計算できません
        <% else %>
          <% @the_day_before = @posts_today.count / @posts_yesterday.count %>
          <%= (@the_day_before * 100).round %>%
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>今週の投稿数</th>
      <th>先週の投稿数</th>
      <th>前週比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @posts_this_week.count %></td>
      <td><%= @posts_last_week.count %></td>
      <td>
        <% if @posts_last_week.count == 0 %>
          先週の投稿が0のため、計算できません
        <% else %>
          <% @the_week_before = @posts_this_week.count / @posts_last_week.count %>
          <%= (@the_week_before*100).round %>%
        <% end %>
      </td>
    </tr>
  </tbody>
</table>